# GCP — obrigatório
GCP_PROJECT_ID=seu-gcp-project-id
GCP_LOCATION=US

# Datasets no BigQuery
GCP_RAW_DATASET=raw
GCP_DATASET_DEV=analytics_dev

# Caminho do service account DENTRO do container (volume montado em ./credentials/)
GCP_KEYFILE=/credentials/service-account.json
